<!DOCTYPE html>
<html>
<head>
  <title>Rails4sample</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to( "トップ", root_path ) %>
 | <%= link_to( "タスク", tasks_path ) %>
 | <%= link_to( "リアルタイム", realtime_show_tasks_path ) %>
<br />
<%= link_to( "アタック", progress_attack_show_path ) %>
 | <%= link_to( "アタックエンド", progress_attack_end_path ) %>
 | <%= link_to( "オールストップ", progress_attack_end_path( all_stop: "true" ) ) %>

<br />

<%= yield %>

</body>
</html>
